@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* .flu{
    border: 1px solid black;
} */
.quiresss{
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.84px;
    font-weight: 700;
    color: #7b6cd5;
}
.quiressomeobj{
    font-size: 15px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.45px;
    color: #666;
    text-align: center;
}
.mmm{
    background-color: #7b6cd5;
    font-family: 'Josefin Sans', sans-serif;
    height: auto;
    border: 1px solid #7b6cd5;
    border-radius: 3px;
    line-height: 25px;
    letter-spacing: 0.6px;
    font-weight: 700;
    color: #fff;
   padding:  21px 52px 19px 53px;
}

